<footer>
    <div class="zhong">
        <ul>
            <li>
                关于我们
            </li>
            <li>
                <a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=9">公司简介</a>
            </li>
            <li>
                <a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=8">公司活动</a>
            </li>
            <li>
                <a href="{APP_PATH}index.php?m=content&c=index&a=lists&catid=7">服务咨询</a>
            </li>
        </ul>
        <ul>
            <li>联系我们</li>
            <li>业务咨询：400-0130-696</li>
            <li>招商咨询：13911811915（微信同号）</li>
            <li>周一至周六 8:30-18:00</li>
            <li>公司地址： 北京市昌平区中关村科技园超前路23号C区258室</li>
        </ul>
        <p style="clear: both;"></p>
        <div class="erwei">
            <div>
                <img src="{IMG_PATH}website/jingli.png" />
                <h3>公司公众号</h3>
            </div>
            <div>
                <img src="{IMG_PATH}website/jingli2.png" style="width: 130px;height: 130px;" />
                <h3>经理微信号</h3>
            </div>
        </div>
    </div>
</footer>